torch>=1.8
torchvision>=0.9.1
numpy
# progress bar for funs
tqdm
# image processing
imageio
imageio-ffmpeg
# plots
matplotlib
# parsing
configargparse
# logging
tensorboard>=2.0
# cv2
opencv-python
# optional for model evaluation
torchsummary
# extra?
pytorch3d
tensorflow
pytest
ipdb


